img {
    width: 300px;
    justify-content: center;
    
}



.container {
    display: flex;
    gap: 70px;
    margin-bottom: 20px;
}
.container2 {
    display: flex;
    gap: 70px;
    margin-bottom: 20px;
    color: aqua;
}
.container3 {
    display: flex;
    gap: 70px;
    
}

.principal {
    background-color: rgb(164, 202, 255);
    width: 1300px;
    height: 290px;
    border-radius: 15px;
}

.flex {
    display: flex;
}

section {
    gap: 60px;
}

.status {
    width: 500px;
    background-color: rgb(164, 202, 255);
    gap: 70px;
    border-radius: 15px;
}

.texto {
    color: rgb(7, 96, 151);
}