body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
}

img {
    height: 230px;
}
.container {
    display: flex;
    padding: 20px;
}

h2{
    width: ;
}
.flex {
    display: flex;
}


.robot-image {
    width: 100px;
    height: auto;
}

.options {
    background-color: blue;
    color: white;
}